{{ define "single_title" }}
  <div class="text-lg">Upcoming</div>
  <h1 class="mt-0">Events</h1>
  <a class="block mt-2 pt-2 border-t lowercase text-lg" href="/past-events">View Past</a>
{{ end }}

{{ define "single_content" }}
  {{ $events := where (.Site.RegularPages.ByParam "start_date") "Section" "events" }}
  {{ range $events }}
    {{ if .Params.end_date }}
      {{ $t := (time .Params.end_date) }}
      {{ if  ge ($t.Unix) (now.Unix) }}
        {{ .Render "summary" }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}