{{ define "single_title" }}
  <div class="text-lg lower">Media</div>
  <h1 class="mt-0">Audio</h1>
  <a class="block mt-2 pt-2 border-t lowercase text-lg" href="/videos">	&rsaquo; Videos</a>
{{ end }}

{{ define "single_content" }}
  <div class="flex flex-wrap mx-4">
    <div class="w-full mb-4 flex justify-center">
      <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1794306&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true" width="532" height="300" frameborder="no" scrolling="no"></iframe>
    </div>
    <div class="w-full mb-4 flex justify-center">
      <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1794276&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true" width="532" height="300" frameborder="no" scrolling="no"></iframe>
    </div>
  </div>
{{ end }}