.single-site-title {
  z-index: 3;
  color: white;
  font-family: 'Oswald', sans-serif;
  position: relative;
  top: 20px;
  left: -5px;
}

.single-right {
  height: 85%;
}

.single-right main {
  margin-top: 50px;
  padding-right: 30px;
  overflow: auto;
}

.single-right main .wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.single-right main p:first-child {
  margin-top: 0;
}

.single-right-b {
  font-family: 'Oswald', sans-serif;
  height: 15%;
}

.single-banner {
  height: 100%;
  background-image: url('/img/oscuro-front.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}

.single-banner::after {
  content: '';
  display: block;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: rgba(0,0,40 ,.7);
  transition: opacity 225ms ease-in-out;
}

.single-header {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  color: white;
  position: relative;
  z-index: 3;
}